body {
    background: hsl(148, 38%, 91%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
}
h1 {
    font-family: "Karla", serif;
}
.form {
    background-color: white;
    padding: 10px 30px;
    width: 500px;
    align-content: center;
    border-radius: 10px;
}
.sign {
    color: hsl(169, 82%, 27%);
}
.names {
    display: flex;
    margin: 7px 0;
    gap: 20px;
  
}
.name> label{
    display: block;
    font-family: "Karla", serif;
    font-size: 16px;
}
.name> input {
    margin-top: 10px;
    width: 230px;
    padding: 10px 5px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: "Karla", serif;
    font-size: 16px;

}
.email > label{
    margin-top: 20px;
    display: block;
    font-family: "Karla", serif;
    font-size: 16px;
}
.email > input {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 10px;
    font-family: "Karla", serif;
    font-size: 16px;
}
.option-box {
    display: flex;
    margin: 10px 0;
    gap: 20px;
}
.query {
    margin-top: 20px;
    font-family: "Karla", serif;
    font-size: 16px;
   
}
.radio-box {
    border: 1px solid #ccc;
    padding: 10px 5px;
    width: 230px;
    border-radius:8px;
    transition: background-color 0.3s;
   
}
.message {
    margin-top: 20px;
    font-family: "Karla", serif;
    font-size: 16px;
    
}
textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 10px;
    height: 100px;
    padding: 10px 5px;
    font-family: "Karla", serif;
    font-size: 16px;
}
.checkbox {
    margin-top: 20px;
}
.checkbox > input {
    margin: 0 10px;
}
.checkbox> label{
    font-family: "Karla", serif;
    font-size: 16px;
}
button{
    margin: 20px 0;
    text-align: center;
    padding: 10px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color:  hsl(169, 82%, 27%);
    color:  hsl(0, 0%, 100%);
    font-family: "Karla", serif;
    font-size: 16px;
}
.radio-box.active {
    background-color: hsl(169, 82%, 27%); 
    border: 1px solid hsl(169, 82%, 27%);
}
.radio-box> label{
    font-family: "Karla", serif;
    font-size: 16px;
}
.name> input:hover{
    border: 1px solid hsl(169, 82%, 27%);
    cursor: pointer;
}
.email> input:hover{
    border: 1px solid hsl(169, 82%, 27%);
    cursor: pointer;
}
.radio-box> label:hover,
.radio-box> input:hover {
    cursor: pointer;
}
.checkbox >input:hover{
    cursor: pointer;
}
button:hover {
    cursor: pointer;
    background-color: hsl(179, 100%, 13%);
}
input[type="radio"]:checked {
    accent-color:hsl(169, 82%, 27%);
}
textarea:hover{
    border: 1px solid hsl(169, 82%, 27%);
    cursor: pointer;
}
input[type="checkbox"]:checked{
    accent-color:hsl(169, 82%, 27%);
}
.checkbox > input{
    background-color: hsl(169, 82%, 27%);
    cursor: pointer;
}
.checkbox > label{
    cursor: pointer;
}
.success {
    display: none;
    background-color: hsl(179, 100%, 13%);
    /* width: 400px;
    height: 90px; */
    border-radius: 7px;
    padding: 20px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:hsl(0, 0%, 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: "Karla", serif;
    font-size: 16px;
}


@media (max-width: 608px) {
    .form {
        width: 100%;
        padding: 20px;
        margin: 10px;
    }

    .names {
        flex-direction: column;
    }

    .name > input {
        width: 100%;
    }

    .option-box{
        flex-direction: column;
    }

    .radio-box {
        width: 100%;
        
    }
}



